/*border radius*/
body{
    font-family: "Abril Fatface", cursive;
    /*background:
    linear-gradient(

        rgba(77, 31, 0, 0.75),
        rgba(0, 0, 0, 0.2)
        ), url(https://images.pexels.com/photos/1132348/pexels-photo-1132348.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
*/    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}

#logo{

}

.landing {
     
    height: 100%;
    background: linear-gradient(112.3deg, white 60%, burlywood 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#orderNow{
    background-color: orange;
    border-color: black;
    
}


/*footer{
    height: 100%;
    background: linear-gradient(112.3deg, white 60%, burlywood 50%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;

}*/

.btn
 :hover {
    border-radius: 0px;
}

nav{
    background: linear-gradient(112.3deg, white 60%, burlywood 20%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Abril Fatface", sans-serif;
    font-size: 1.2rem;
    
}



/*single product page - product name*/


/* cart badge */

.cart-badge, .cart-badge:hover {
   border-radius:  80%;
   padding:  5px;
   font-size:  48 px;
   font-style: italic;
   background: orange; 
   border: black;
}

/* ensures the increment/decrement arrows always display */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
  opacity: 1;
}

./*name {
    background: indigo;
    color:  #fff;
    font-weight: bold;

}*/

/*black shade form 10-1*/
.black-10 {
    background: #f2f2f2;
}
.black-9 {
    background: #e6e6e6;
}
.black-8 {
    background: #d9d9d9;
}
.black-7 {
    background: #cccccc;
}
.black-6 {
    background: #bfbfbf;
}
.black-5 {
    background: #b3b3b3;
}




/*product image on card*/

#image {
    width: 30vh;
    height: 30vh;


}

#carousel1 img{
    /*height: 80vh;
    width: 80vh;*/
    border-radius: 40%;

    }

/*images on carousel*/
/*#img5 {
    height: 90vh;
    width: 40vh;
    border-radius: %;
}

#img2 {
    height: 90vh;
    width: 40vh;
    border-radius: %;
}

#img3 {
    height: 90vh;
    width: 40vh;
    border-radius: %;
}*/
/*end of carousel*/

/*#img5 {
    mix-blend-mode: multiply;

}
*/

/*
.jumbotron h2{
    margin-top: -20px;
}*/

/*@media only screen and (max-width: 600px) {
    .jumbotron h2 {
        margin-top: 10px;
    }
}*/
/*jumbotron animation*/

/*.jumbotron {
    width: 30wh;
    height: 100vh;
}*/
 
@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
 
@keyframes Gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


#image:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/*footer{
    position: fixed;
    bottom: 0;
}

@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}*/


.footer-distributed{
    background: linear-gradient(112.3deg, white 60%, burlywood 20%);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
    width: 30%;
}

.footer-distributed h3{
    color:  #000000;
    font: normal 36px "Abril Fatface", cursive;
    margin: 0;
}

/* The company logo */

.footer-distributed .footer-left img{
    width: 30%;
}

.footer-distributed h3 span{
    color:  #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links{
    color:  #000000;
    margin: 20px 0 12px;
    padding-right: 5px;
}

.footer-distributed .footer-links a{
    display:inline-block;
    line-height: 1.8;
    text-decoration: none;
    color:  inherit;
}

.footer-distributed .footer-company-name{
    color:  #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
    width: 35%;
}


.footer-distributed .footer-center i{
    background-color:  burlywood;
    color: #000000;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-center p{
    display: inline-block;
    color: #000000;
    vertical-align: middle;
    margin:0;
}

.footer-distributed .footer-center p span{
    display:block;
    font-weight: normal;
    font-size:14px;
    line-height:2;
}

.footer-distributed .footer-center p a{
    color:  #e0ac1c;
    text-decoration: none;;
}


/* Footer Right */

.footer-distributed .footer-right{
    width: 30%;
}

.footer-distributed .footer-company-about{
    line-height: 20px;
    color:  #000000;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span{
    display: block;
    color:  #000000;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons{
    margin-top: 25px;
}

.footer-distributed .footer-icons a{
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color:  #ffffff;
    border-radius: 50%;

    font-size: 20px;
    color: #000000;
    text-align: center;
    line-height: 35px;

    margin-right: 3px;
    margin-bottom: 5px;
}

/* Here is the code for Responsive Footer */
/* You can remove below code if you don't want Footer to be responsive */


@media (max-width: 880px) {

    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right{
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

    .footer-distributed .footer-center i{
        margin-left: 0;
    }

}

